@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

.navlinks:hover {
  background-color: #e7e7e7;
}

.navlinks {
  margin: 0 auto;
  transition: 0.25s;
}

body {
  font-family: "Open Sans";
}

.step-bulk {
  font-size: 125%;
  margin-bottom: 20px;
}

.step-head {
  font-size: 150%;
}

#welcome {
  font-size: 200%;
}

#sub {
  font-size: 150%;
}

.links {
  color: #51b03d;
}

.links:hover {
  text-decoration: underline;
  color: #51b03d;
}

.links:visited {
  color: #51b03d;
}

.container {
  width: 70%;
  margin: 0 auto;
}

#brand {
  color: #51b03d;
}

#brand:hover {
  color: #4a933b;
}

*:focus {
    outline: 0 !important;
}

#why {
  margin-top: 25px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(81, 176, 61, 1);
    box-shadow: 0 0.1px 0.1px rgba(81, 176, 61, 1) inset, 0 0 2.5px rgba(81, 176, 61, 1);
    outline: 0 none;
}
